<div class="footer shake-little shake-constant">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<a href="#" target="_blank">
					<span class="fa-stack fa-lg">
						<i style="color: #fff;" class="fa fa-circle fa-stack-2x"></i>
						<i id="facebook" style="color: rgb(17,21,32);" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" target="_blank">
					<span class="fa-stack fa-lg">
						<i style="color: #fff;" class="fa fa-circle fa-stack-2x"></i>
						<i id="youtube" style="color: rgb(17,21,32);" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" target="_blank">
					<span class="fa-stack fa-lg">
						<i style="color: #fff;" class="fa fa-circle fa-stack-2x"></i>
						<i id="twitter" style="color: rgb(17,21,32);" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>									
			</div>
		</div>
	</div>
</div>