<script type="text/javascript">window.submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
  onload="if(window.submitted) {$('.ss-form').html('<a href=\'https://s3.amazonaws.com/myfangate.com/oceansatealaska/ghjkdghjwdkgahjsdgasjk/blood+brothers.mp3\' download><div class=\'btn btn-success download\'><i class=\'fa fa-2x fa-cloud-download\'></i><span> download</span></div></a>');ga('send', 'event',  'Download', 'Shown', 'Success');}"></iframe>


<div class="ss-form"><form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1uCJ_XPx8tjYdVC00FcD7_eB4nmPtB7ajLojoh764XMM/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="return validateForm()"><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<div class="form-group">
<input type="text" name="entry.1887851980" value="" class="shake-little shake-constant ss-q-short form-control" id="entry_1887851980" dir="auto" aria-label="Full Name  " title="" placeholder="Your Full Name">
</div>
<div class="error-message" id="2108778979_errorMessage"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<div class="form-group">
<input type="text" name="entry.1384809857" value="" class="shake-little shake-constant ss-q-short form-control" id="entry_1384809857" dir="auto" aria-label="Email Address  " title=""placeholder="Your@email.address">
</div>
<div class="error-message" id="1153745909_errorMessage"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;394278081510801603&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="394278081510801603">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="submit your info" id="ss-submit" class="jfk-button jfk-button-action shake-little shake-constant btn btn-success">
</td>
</tr></tbody></table></div></ol></form></div>
