<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "The Middleman" %></title>
<meta name="description" content="watch the video for red eye lids
and download the song for free!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="THEWHITENOISE | Free Download">
<meta itemprop="description" content="watch the video for red eye lids
and download the song for free!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/thewhitenoise/promoimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@thewhitenoisela">
<meta name="twitter:title" content="THEWHITENOISE | Free Download">
<meta name="twitter:description" content="watch the video for red eye lids
and download the song for free!">
<meta name="twitter:creator" content="@thewhitenoisela">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/thewhitenoise/promoimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="THEWHITENOISE | Free Download" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.thewhitenoise.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/thewhitenoise/promoimage.jpg" />
<meta property="og:description" content="watch the video for red eye lids
and download the song for free!" />
<meta property="og:site_name" content="thewhitenoise.com" />