---
title: Welcome to Middleman
---

<div class="container">
	<div class="row">
    <div class="col-lg-12 text-center">
      <img class="logo shake-little shake-constant" src="https://s3.amazonaws.com/myfangate.com/thewhitenoise/twnlogo.png">
    </div>
		<div class="col-lg-10 col-lg-offset-1 text-center"> 
      <h2 class="shake-little shake-constant">watch the video for 'red eye lids'</h2>    
      <div id="the-video" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MC3KUpkBlxM?rel=0&showinfo=0"></iframe>
      </div>    
		</div>
    <div class="col-lg-10 col-lg-offset-1 text-center"> 
      <h2 class="shake-little shake-constant">enter your email and get the song for free</h2>      
    </div>
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <%= partial 'partials/gform' %>
    </div>
	</div>
</div>