---
title: THEWHITENOISE
---

<div class="container">
	<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
      <img class="logo shake-little shake-constant" src="https://s3.amazonaws.com/myfangate.com/thewhitenoise/twnlogo.png">
    </div>
		<div class="col-lg-8 col-lg-offset-2 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center"> 
      <h2 class="shake-little shake-constant">watch the video for "red eye lids" <span class="line-breaker"></span>and download the free song!</h2>    
      <div id="the-video" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MC3KUpkBlxM?rel=0&showinfo=0"></iframe>
      </div>    
		</div>
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center"> 
      <h2 class="shake-little shake-constant">enter your email to download <span class="line-breaker">"red eye lids" for free!</span></h2>      
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
      <%= partial 'partials/gform' %>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center"> 
      <h2 class="shake-little shake-constant">want to hear more?<span class="line-breaker">grab the single "bloom"</span></h2> 
    </div>
    <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
      <a href="https://itunes.apple.com/us/album/bloom-single/id1022484873" target="_blank"><img class="full-w shake-little shake-constant" src="https://s3.amazonaws.com/myfangate.com/thewhitenoise/itunes.png"></a>
    </div>
	</div>
</div>